<div>
    <h2 id="page-heading">
        <span jhiTranslate="jcoco5App.eventStaticByDay.home.title">Event Static By Days</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-static-by-day" [routerLink]="['/event-static-by-day/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jcoco5App.eventStaticByDay.home.createLabel">
            Create new Event Static By Day
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="eventStaticByDays">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jcoco5App.eventStaticByDay.staticDay">Static Day</span></th>
            <th><span jhiTranslate="jcoco5App.eventStaticByDay.severity1">Severity 1</span></th>
            <th><span jhiTranslate="jcoco5App.eventStaticByDay.severity2">Severity 2</span></th>
            <th><span jhiTranslate="jcoco5App.eventStaticByDay.severity3">Severity 3</span></th>
            <th><span jhiTranslate="jcoco5App.eventStaticByDay.severity4">Severity 4</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventStaticByDay of eventStaticByDays ;trackBy: trackId">
                <td><a [routerLink]="['/event-static-by-day', eventStaticByDay.id, 'view' ]">{{eventStaticByDay.id}}</a></td>
                <td>{{eventStaticByDay.staticDay}}</td>
                <td>{{eventStaticByDay.severity1}}</td>
                <td>{{eventStaticByDay.severity2}}</td>
                <td>{{eventStaticByDay.severity3}}</td>
                <td>{{eventStaticByDay.severity4}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/event-static-by-day', eventStaticByDay.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-static-by-day', eventStaticByDay.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-static-by-day/'+ eventStaticByDay.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
