<div>
    <h2 id="page-heading">
        <span jhiTranslate="jcoco5App.quiz.home.title">Quizzes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz" [routerLink]="['/quiz/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jcoco5App.quiz.home.createLabel">
            Create new Quiz
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="quizzes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.testKey">Test Key</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.testName">Test Name</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.libName">Lib Name</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.isAutoSubmit">Is Auto Submit</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.myRound">My Round</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.startTime">Start Time</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.successTime">Success Time</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.topmostSeconds">Topmost Seconds</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.costSeconds">Cost Seconds</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.mark">Mark</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.passCount">Pass Count</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.failCount">Fail Count</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.centCount">Cent Count</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.point">Point</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.used">Used</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.useTime">Use Time</span></th>
            <th><span jhiTranslate="jcoco5App.quiz.useNote">Use Note</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quiz of quizzes ;trackBy: trackId">
                <td><a [routerLink]="['/quiz', quiz.id, 'view' ]">{{quiz.id}}</a></td>
                <td>{{quiz.testKey}}</td>
                <td>{{quiz.testName}}</td>
                <td>{{quiz.libName}}</td>
                <td>{{quiz.isAutoSubmit}}</td>
                <td>{{quiz.myRound}}</td>
                <td>{{quiz.startTime | date:'medium'}}</td>
                <td>{{quiz.successTime | date:'medium'}}</td>
                <td>{{quiz.topmostSeconds}}</td>
                <td>{{quiz.costSeconds}}</td>
                <td>{{quiz.mark}}</td>
                <td>{{quiz.passCount}}</td>
                <td>{{quiz.failCount}}</td>
                <td>{{quiz.centCount}}</td>
                <td>{{quiz.point}}</td>
                <td>{{quiz.used}}</td>
                <td>{{quiz.useTime | date:'medium'}}</td>
                <td>{{quiz.useNote}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/quiz', quiz.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quiz', quiz.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quiz/'+ quiz.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
