<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="park">
            <h2><span jhiTranslate="jcoco5App.park.detail.title">Park</span> {{park.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jcoco5App.park.parkId">Park Id</span></dt>
                <dd>
                    <span>{{park.parkId}}</span>
                </dd>
                <dt><span jhiTranslate="jcoco5App.park.description">Description</span></dt>
                <dd>
                    <span>{{park.description}}</span>
                </dd>
                <dt><span jhiTranslate="jcoco5App.park.latitude">Latitude</span></dt>
                <dd>
                    <span>{{park.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="jcoco5App.park.longitude">Longitude</span></dt>
                <dd>
                    <span>{{park.longitude}}</span>
                </dd>
                <dt><span jhiTranslate="jcoco5App.park.parkAddress">Park Address</span></dt>
                <dd>
                    <span>{{park.parkAddress}}</span>
                </dd>
                <dt><span jhiTranslate="jcoco5App.park.parkName">Park Name</span></dt>
                <dd>
                    <span>{{park.parkName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/park', park.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
