<div>
    <h2 id="page-heading">
        <span jhiTranslate="jcoco5App.park.home.title">Parks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-park" [routerLink]="['/park/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jcoco5App.park.home.createLabel">
            Create new Park
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="parks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jcoco5App.park.parkId">Park Id</span></th>
            <th><span jhiTranslate="jcoco5App.park.description">Description</span></th>
            <th><span jhiTranslate="jcoco5App.park.latitude">Latitude</span></th>
            <th><span jhiTranslate="jcoco5App.park.longitude">Longitude</span></th>
            <th><span jhiTranslate="jcoco5App.park.parkAddress">Park Address</span></th>
            <th><span jhiTranslate="jcoco5App.park.parkName">Park Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let park of parks ;trackBy: trackId">
                <td><a [routerLink]="['/park', park.id, 'view' ]">{{park.id}}</a></td>
                <td>{{park.parkId}}</td>
                <td>{{park.description}}</td>
                <td>{{park.latitude}}</td>
                <td>{{park.longitude}}</td>
                <td>{{park.parkAddress}}</td>
                <td>{{park.parkName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/park', park.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/park', park.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'park/'+ park.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
