<div>
    <h2 id="page-heading">
        <span jhiTranslate="jcoco5App.pointMask.home.title">Point Masks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-point-mask" [routerLink]="['/point-mask/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jcoco5App.pointMask.home.createLabel">
            Create new Point Mask
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pointMasks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jcoco5App.pointMask.userId">User Id</span></th>
            <th><span jhiTranslate="jcoco5App.pointMask.userName">User Name</span></th>
            <th><span jhiTranslate="jcoco5App.pointMask.comment">Comment</span></th>
            <th><span jhiTranslate="jcoco5App.pointMask.corePointId">Core Point Id</span></th>
            <th><span jhiTranslate="jcoco5App.pointMask.deviceId">Device Id</span></th>
            <th><span jhiTranslate="jcoco5App.pointMask.operationTime">Operation Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pointMask of pointMasks ;trackBy: trackId">
                <td><a [routerLink]="['/point-mask', pointMask.id, 'view' ]">{{pointMask.id}}</a></td>
                <td>{{pointMask.userId}}</td>
                <td>{{pointMask.userName}}</td>
                <td>{{pointMask.comment}}</td>
                <td>{{pointMask.corePointId}}</td>
                <td>{{pointMask.deviceId}}</td>
                <td>{{pointMask.operationTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/point-mask', pointMask.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/point-mask', pointMask.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'point-mask/'+ pointMask.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
