<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-point-mask-heading" jhiTranslate="jcoco5App.pointMask.home.createOrEditLabel">Create or edit a Point Mask</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pointMask.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pointMask.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jcoco5App.pointMask.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="pointMask.userId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jcoco5App.pointMask.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                        [(ngModel)]="pointMask.userName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jcoco5App.pointMask.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                        [(ngModel)]="pointMask.comment" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jcoco5App.pointMask.corePointId" for="field_corePointId">Core Point Id</label>
                    <input type="number" class="form-control" name="corePointId" id="field_corePointId"
                        [(ngModel)]="pointMask.corePointId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jcoco5App.pointMask.deviceId" for="field_deviceId">Device Id</label>
                    <input type="number" class="form-control" name="deviceId" id="field_deviceId"
                        [(ngModel)]="pointMask.deviceId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jcoco5App.pointMask.operationTime" for="field_operationTime">Operation Time</label>
                    <div class="d-flex">
                        <input id="field_operationTime" type="datetime-local" class="form-control" name="operationTime" [(ngModel)]="operationTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
