<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coreEventSeverity">
            <h2><span jhiTranslate="jcoco5App.coreEventSeverity.detail.title">Core Event Severity</span> {{coreEventSeverity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jcoco5App.coreEventSeverity.eventSeverityId">Event Severity Id</span></dt>
                <dd>
                    <span>{{coreEventSeverity.eventSeverityId}}</span>
                </dd>
                <dt><span jhiTranslate="jcoco5App.coreEventSeverity.severityName">Severity Name</span></dt>
                <dd>
                    <span>{{coreEventSeverity.severityName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/core-event-severity', coreEventSeverity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
